@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    color: #eeeeee;
    background-color: #1C202B;
}
html{
    --antd-wave-shadow-color:none !important;
}
html::selection{
    background:none !important;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
    line-height: 0;
}
/* ZHeader */
.ZHeader{
    height: 40px;
    background-color: #1C202B;
    position: sticky;
    top: 0;
    z-index: 10;
}
.headerLogo{
    min-width: 56px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/그룹 6926.svg");
    background-size: cover;
    border: none;
    position: absolute;
    top: 12px;
    left:50%;
    transform: translateX(-50%);
}
.headerProfile{
    clear: both;
    /* width: 24px;
    height: 24px; */
    background: transparent linear-gradient(138deg, #C9C9C9 0%, #506070 100%) 0% 0% no-repeat padding-box;
    border-radius: 50%;
    background-image: url("../img/마스크 그룹 67.png");
    background-size: cover;
    /* background-size: 24px 24px; */
    position: absolute;
    top: 5px;
    right: 13px;
    transform: translateX(-50%);
}
/* NoticeBar */
.NoticeBar{
    display: flex;
}
.notice-bar-icon{
    width: 30px;
    height: 21px;
    border-radius: 10px;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    display: block;
    margin: 10px 0 0 18px;
    position: relative;
}
.notice-bar-icon::before{
    content: '';
    display: block;
    width: 30px;
    height: 21px;
    background: transparent url('../img/그룹 8458.svg') 50% 50% no-repeat padding-box;
}
.notice-bar-icon::after{
    content: '3';
    display: block;
    color: #141414;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    width: 17px;
    height: 17px;
    line-height: 14px;
    background-color: #eee;
    border: 2px solid #2c3340;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -7px;
}
/* ClubNotice */
.ClubNotice{
    width: 100%;
    height: 42px;
    padding: 0 14px;
}
.ClubNotice > div{
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c-n-text{
    font-size: 14px;
    color: #eeeeee;
    font-weight: 700;
}
.c-n-e-button{
    /* font-size: 10px; */
    font-weight: bold;
    color: #1C202B;
    background-color: #ffcc00;
    border: none;
    height: 21px;
    margin-left: 15px;
}
.c-n-e-badge{
    transform: translateY(-10px);
}
.c-n-m-button{
    background-image: url("../img/그룹 6863.svg");
    background-size: 13px auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 55px;
}
/* MatchTab */
/* main */
#main{
    width: 100%;
    background-color: #1C202B;
    position: relative;
}
#main .main-tab{
    /* text-align: center; */
    /* width: 30%; */
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #EEEEEE42;
    margin-bottom: 0;
}
#main .main-tab > li{
    /* padding: 0 18px; */
    font-weight: 700;
}
#main .main-tab > li >a{
    display: block;
    padding: 0 18px;
}
.mainTabWrap::after{
    content: '';
    width: 1px;
    height: 16px;
    display: block;
    background-color: #506070;
    opacity: 50%;
    position: absolute;
    left: 50%;
}
.mainTabWrap{
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 0;
}
.mainTabBtn{
    background-color: inherit;
    border: none;
    display: block;
    color: #EEEEEE42;
    padding: 0 16px;
    font-weight: 700;
}
.mainTabBtn.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background-color: inherit;
    color: #eee;
}
.ant-radio-button-wrapper:hover{
    color: #EEEEEE42;
}
.ant-radio-button-wrapper:hover{
    color: none;
}
/* .main-tab > li > a:hover{
    color: #eee;
}
.main-tab > li > a:focus{
    color: #eee;
}
.main-tab > li > a:active{
    color: #eee;
} */
/* .tab-active{
    color: #eee;
    position: relative;
}
.tab-active::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #AAFF00;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
} */
.sportPanelWrap{
    font-size: 11px;
    font-weight: 600;
    color: #6F777E;
    line-height: 42px;
    width: 100%;
    /* max-width: calc(100% - 14px); */
    margin: 0 auto;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 14px;
    border-bottom: 1px solid #50607050;
    text-align: center;
    margin-bottom: 10px;
}
.sportPanelBtn{
    padding: 0 9px;
    /* margin: 0; */
    height: 40px;
    background-color: transparent;
    color: #6f777e;
    border: none;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before{
    background-color: none !important;
}
.ant-radio-button-wrapper:first-child{
    border: none;
}
.sportPanelBtn.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    color: #eee;
    background-color: inherit;
    border-color: none;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within{
    outline: none;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active{
    border-color: none !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    border-color:  #1C202B !important;
}
.sportPanelBtn.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active{
    color: #eee;
    background-color: inherit;
    border-color: none !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    border-color: none;
}
.sportPanelBtn.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    color: #eee;
    background-color: inherit;
}
.sportPanelBtn.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: #AAFF00;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
}
.sport-panel > li:hover ::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #AAFF00;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
}
#main .sport-panel{
    font-size: 11px;
    font-weight: 600;
    color: #6F777E;
    line-height: 42px;
    max-width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 9px;
    border-bottom: 1px solid #50607050;
    text-align: center;
}
#main .sport-panel > li{
    padding: 0 9px;
    position: relative;
}
#main .sport-panel > li > a{
    width: 100%;
    display: block;
    padding: 0 3px;
}
.p-t-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.p-t-box.ant-radio-button-wrapper:first-child ,.ant-radio-button-wrapper:first-child{
    border-color: #50607080;
}
.p-t-box .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover .match-all-btn-num, .p-t-box .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover .match-fav-btn-num{
    color:#AAFF00 !important;
}
.p-t-box .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) .match-all-btn-num, .p-t-box .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) .match-fav-btn-num{
    color:#AAFF00 !important;
}
.match-all-btn, .match-major-btn, .match-fav-btn{
    color: #eeeeee80;
    border: 1px solid #50607080;
    background-color: #1C202B;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    color: #eee;
    background-color:rgba(80, 96, 112, 0.3);
    border-color: #50607020;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    color: #eee;
    background-color:rgba(80, 96, 112, 0.3);
    border-color: #50607020;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    box-shadow: none;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within{
    outline: none;
}
.match-all-btn span, .match-major-btn span, .match-fav-btn span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.match-all-btn{
    width: 80px;
    height: 34px;
    font-size: 12px;
    border-radius: 17px !important;
    margin-right: 7px;

}
.match-major-btn{
    width: 80px;
    height: 34px;
    font-size: 12px;
    border-radius: 17px;
    margin-right: 7px
}
.match-fav-btn{
    width: 66px;
    height: 34px;
    font-size: 12px;
    border-radius: 17px !important;
}
.p-t-box .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover .fill{
    fill: #ffcc00 !important;
}
.p-t-box .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) .fill{
    fill: #ffcc00 !important;
}
/* .matcn-fav-icon{
    width: 11px;
    height: 11px;
    background: url('../img/favoriteManage.png') no-repeat;
    background-size: 11px 11px;
} */
.panel-tab-btn{
    width: 30px;
    height: 30px;
    background-image: url("../img/그룹\ 6908.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #dddddd;
    border-radius: 17px;
}

/* MainBanner */
.MainBanner{
    max-width: 500%;
    height: 145px;
    /* padding: 0 10px; */
    /* height: 145px; */
    /* min-height: 145px; */
    /* margin-left: 10px; */
    /* transform: translateX(10px); */
    padding: 0 0 0 10px;
}
.banner-list{
    max-width: 100%;
    display: inline-flex;
    overflow: hidden;
    overflow-x: auto;
    /* margin-left: 10px; */
    /* height: 145px; */
    -ms-overflow-style: none;
}
.banner-list::-webkit-scrollbar{
    display:none;
 }
/* .banner-list li{
    max-width: 300px;
} */
.banner-list li a{
    display: block;
    /* width: 100%; */
    width: 235px;
    /* height: 0; */
    /* padding-top: 61.8%; */
    margin-right: 10px;
    height: 145px;
    border-radius: 15px;
}
.banner-img1{
    background: url("../img/banner (1).png") no-repeat;
    background-size: contain;
    background-position: center center;
}
.banner-img2{
    background: url("../img/banner (2).png") no-repeat;
    background-size: contain;
    background-position: center center;
}
.banner-img3{
    background: url("../img/banner (3).png") no-repeat;
    background-size: contain;
    background-position: center center;
}
.banner-img4{
    background: url("../img/banner (1).png") no-repeat;
    background-size: contain;
    background-position: center center;
}
/* #banner{
    position: relative;
}
 .swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* DividendBoard */
.DividendBoard{
    padding: 15px 16px;
}
.DividendBoard .nation{
    /* color: red; */
    margin: 0 5px 0 -8px;
}
.DividendBoard .nation::before{
    display: inline-block;
    content: '';
    width: 14px;
    height: 14px;
    /* height: 100%; */
    background-image: url('../img/그룹 6878.png');
    background-size: cover;
    background-position: center;
    transform: translateY(2px);
    margin-right: 4px;
}
.DividendBoard .league::before{
    display: inline-block;
    content: '';
    width: 17px;
    height: 17px;
    background-image: url('../img/AF3C5242-9094-4858-AE2A-16E13F8F4C0C.png');
    background-size: cover;
    background-position: center;
    transform: translateY(3px);
    margin-right: 4px;
}
.DividendBoard .league::after{
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #506070;
    border-right: 1.5px solid #506070;
    transform: rotate(45deg) translateY(-4px);
}
.d-b-board{
    width: 100%;
    height: 200px;
    background-color: #212732;
    border: 1px solid #40506080;
    border-radius: 18px;
    position: relative;
}
.d-b-board > div:first-child{
    display: flex;
    padding: 0 8px;
}
.d-b-board > div >a{
    display: block;
    min-width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 6px 0 0 12px;
    background-color: #1C202B;
}
.d-b-icon1{
    background: url("../img/그룹 6826.svg") no-repeat;
    background-size: 10px 14px;
    background-position: center;
}
.d-b-icon2{
    background: url("../img/favoriteManage2.png") no-repeat;
    background-size: 11px 11px;
    background-position: center center;
}
.d-b-icon3{
    color: #1C202B;
    font-size: 10px;
    font-weight: 500;
    background-color: #D5D5D5 !important;
    line-height: 27px;
    text-align: center;
}
.d-b-board > div::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgb(28, 32, 43);
    box-shadow: 0px 1px 1px #40506033;
    position: absolute;
    top: 40px;
}
.d-b-board .date{
    width: 100%;
    height: 40px;
    line-height: 40px;
    /* margin-right: 2px; */
    color: rgb(111, 119, 126);
    margin-left: 10px;
    /* margin: 30px 0 0 5px; */
    /* font-size: 1.2rem; */
    font-size: 12px;
    font-weight: 500;
}
.d-b-board .date > span{
    margin-left: 5px;
    color: rgb(238, 238, 238);;
}
.d-b-board .league-table-group{
    width: calc(100% - 32px);
    margin: 5px 0 0 10px;
    font-size: 12px;
    font-weight: 500;
    color: #eee;
}
.d-b-board .league-table-group span{
    padding: 0 4px;
    font-size: 12px;
    font-weight: 500;
    color: #eee;
}
.d-b-board .league-table-l::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/그룹 6850.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(5px);
}
.d-b-board .league-table-r::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/그룹 6851.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(5px);
}
.d-b-board .d-b-btn-group{
    display: flex;
    width: 100%;
    padding: 0 14px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.d-b-board .d-b-btn{
    width: calc((100% - 16px) / 3);
    height: 36px;
    border: none;
    border-radius: 19px;
    background-color: #1C202B;
    color: #6F777E;
    font-size: 10px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 5px;
}
/* ant-radio버튼의 box-shadow 전체 제거 */
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    box-shadow: none;
}
.d-b-board .d-b-btn.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    background-color: rgb(170, 255, 0);
    color: rgba(0, 0, 0, 0.65) !important;
}
.d-b-board .d-b-btn.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
        background-color: rgb(170, 255, 0);
    color: rgba(0, 0, 0, 0.65) !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover .d-b-num{
    color: rgba(0, 0, 0, 0.65);
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) .d-b-num{
    color: rgba(0, 0, 0, 0.65);
}
.d-b-board .d-b-btn span{
    display: flex;
    justify-content: space-between;
}
.accodian{
    background-color: #212732 !important;
}
.aco-position{
    color: rgb(201, 201, 201);
}
.aco-num{
    color: rgb(170, 255, 0);
    position: relative;
    padding-right: 10px;
}
.aco-num::before{
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-color: rgb(80, 96, 112);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
}
.aco-num::after{
    position: absolute;
    top: 15px;
    left: 28.5px;
    transform: translate(-30%,-50%);
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    transform: rotate(45deg);
}
.d-b-under{
    position: relative;
}
.d-b-under::before{
    content: '';
    width: 0px;
    height: 0px;
    border-top: 5px solid #369EE2;
    border-bottom: 5px solid none;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
}
.d-b-over{
    position: relative;
}
.d-b-over::before{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 5px solid none;
    border-bottom: 5px solid #DC2323;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
}
.ant-radio-button-wrapper:not(:first-child)::before{
    display: none;
}
.d-b-num{
    color: #FFCC00;
}
/* BottomBar */
.BottomBar{
    width: 100%;
    height: 62px;
    border-top: 1px solid #2D374580;
    background-color: #1C202B;
    position: fixed;
    bottom: 0;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 10px;
    color: #6F777E;
    text-align: center;
}
.main-btn, .pre-btn, .his-btn, .menu-bnt{
    text-align: center;
}
.BottomBar .main-btn::before{
    margin: 0 auto;
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: url('../img/그룹 6966.svg') no-repeat;
    background-size: contain;
    background-position: center;
}
.BottomBar .pre-btn::before{
    margin: 0 auto;
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: url('../img/그룹 6962.svg') no-repeat;
    background-size: contain;
    background-position: center;
}
.BottomBar .his-btn::before{
    margin: 0 auto;
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: url('../img/그룹 17857.png') no-repeat;
    background-size: contain;
    background-position: center;
}
.BottomBar .menu-btn::before{
    margin: 0 auto;
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: url('../img/그룹 6958.svg') no-repeat;
    background-size: contain;
    background-position: center;
}
.bottom-btn{
    width: 47px;
    height: 47px;
    background: transparent linear-gradient(318deg, #2B323E 0%, #1C202B 82%, #1C202B 100%);
    border: 1px solid #272D38;
    margin-top: -5px;
    font-size: 14px;
    color: #AAFF00;
}
.bottom-btn span{
    display: block;
}
.bottom-btn-date{
    font-size: 10px;
    color: #eee;
}
.bottom-btn-date::before{
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background: transparent linear-gradient(314deg, #EEEEEE 0%, #676C75 100%) 0% 0% no-repeat padding-box;
    margin: 0 auto;
}